.profileContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.profileContainer h1 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(18px, 5vw, 28px);
  line-height: 100%;
  color: var(--font-blue-color);
}

.profileWrapper {
  display: flex;
  justify-content: space-between;
  grid-gap: 30px;
}

.entityWrapper {
  min-width: 315px;
  height: fit-content;
  border-radius: 15px;
  border: solid 2px var(--light-border-color);
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  grid-gap: 30px;
  box-sizing: border-box;
}
/* .entityWrapper {
  width: auto;
} */

.entityWrapper h2 {
  font-weight: 500;
  font-size: clamp(18px, 3vw, 20px);
}

.entityInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blockInfo h3 {
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 18px);
}

.blockInfo p {
  font-weight: 400;
  font-size: clamp(14px, 2.2vw, 16px);
}

.button {
  width: auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: clamp(14px, 2.2vw, 16px);
  transition: 0.3s ease-in-out;
}
.button:hover {
  background-color: var(--primary-hover-color);
}

.button.delete {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  background-color: var(--danger-color);
  border: none;
  border-radius: 8px;
  font-size: clamp(0.625rem, 1.8vw, 0.75rem);
}
.button.delete:hover {
  background-color: var(--danger-hover-color);
}

.tableBlock {
  border: solid 2px var(--light-border-color);
  width: 100%;
  border-radius: 15px;
  padding: 0;
  padding-top: 25px;
  box-sizing: border-box;
}

.tableBlockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--light-border-color);
  padding-bottom: 10px;
  padding: 0 20px 10px;
  margin-bottom: 15px;
}
.tableBlockHeader h2 {
  font-weight: 500;
  font-size: clamp(18px, 3vw, 20px);
}

.tableContainer {
  overflow: auto;
  max-height: 55vh;
  scrollbar-width: thin;
}

.table {
  width: 100%;
}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
}
.table tbody tr:nth-child(even) {
  background-color: var(--table-alternate-color);
}

.table td:first-child {
  padding: 10px;
  padding-left: 20px;
  font-size: clamp(14px, 2.2vw, 16px);
}

.table tbody td:last-child {
  padding-right: 20px;
}

/* МОДАЛЬНЫЕ СТИЛИ */
.modalContentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
/*  
.addEventForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.9375rem;
}

.eventInput {
  flex: 1;
  padding: 0.375rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: clamp(0.875rem, 2.2vw, 1rem);
}




.loading {
  text-align: center;
  padding: 0.9375rem;
  font-size: clamp(0.875rem, 2.2vw, 1rem);
}

.error {
  text-align: center;
  padding: 0.9375rem;
  font-size: clamp(0.875rem, 2.2vw, 1rem);
  color: var(--danger-color);
}

.actionsSection {
  margin-top: 0.9375rem;
  display: flex;
  justify-content: center;
  gap: 0.9375rem;
  align-items: center;
}



.modal_input,
.date_picker,
.modal_select {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0.625rem;
  font-size: clamp(0.875rem, 2.2vw, 1rem);
  padding: 0.625rem 0.9375rem;
  background-color: #f1f2f6;
}

.date_picker_wrapper {
  width: 100%;
}

.modal_select {
  padding-right: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/sellectArrow.png");
  background-repeat: no-repeat;
  background-position: right 0.9375rem center;
  background-size: 0.75rem;
  cursor: pointer;
}

.modal_input:focus,
.date_picker:focus {
  outline: #0069ff 1px solid;
}

.modal_title {
  font-weight: 600;
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
  line-height: 150%;
  text-align: center;
  color: #0069ff;
} */

/* @media (max-width: 1024px) {
  .profileContainer {
    max-width: none;
  }
  .profileContainer h1 {
    font-size: clamp(1.25rem, 4vw, 1.5rem);
  }

  .profileWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .info_wrapper {
    order: -1;
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem;
    margin: 0 auto;
  }
  .add_event_btn {
    padding: 10px;
  }
  .event_table {
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .addEventForm {
    flex-wrap: wrap;
    gap: 0.625rem;
  }

  .eventInput,
  .datePicker {
    width: 100%;
  }

  .actionsSection {
    flex-direction: column;
    gap: 0.625rem;
  }
} */

/* @media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .info_wrapper h2,
  .create_event h2 {
    font-size: clamp(1rem, 2.8vw, 1.125rem);
  }

  .info_wrapper,
  .event_table {
    padding: 0.625rem;
    margin: 0 auto;
  }
  .add_event_btn {
    max-width: 150px;
    padding: 10px;
    font-size: 12px;
  }
  .addEventForm {
    flex-direction: column;
    gap: 0.5rem;
  }

  .eventInput,
  .datePicker {
    width: 100%;
  }

  .eventItem {
    align-items: flex-start;
    gap: 0.3125rem;
  }

  .actionsSection {
    flex-direction: column;
    gap: 0.5rem;
  }

  span {
    max-width: 290px;
  }

  .deleteButton {
    width: 60px;
  }
} */

/* @media (max-width: 480px) {
  .profileContainer h1 {
    font-size: clamp(1rem, 3.5vw, 1.25rem);
  }

  .info_wrapper h2,
  .create_event h2 {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
  }

  .blockInfo h3,
  .blockInfo p,
  .eventItem,
  .eventInput,
  .datePicker {
    font-size: clamp(0.75rem, 2.2vw, 0.875rem);
  }

  .modal_title {
    font-size: clamp(1rem, 3vw, 1.25rem);
  }
} */
