.dropdown_wrapper {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid var(--light-border-color);
  border-radius: 8px;
  box-shadow: var(--lite-shadow);
  list-style: none;
  padding: 10px 0;
  margin: 5px 0 0 0;
  z-index: 10;
  min-width: 230px;
}
.dropdown li {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: var(--light-hover-color);
}
.dropdown li a {
  color: #000;
  text-decoration: none;
  display: block;
}
