.button {
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.25s ease-in-out;
  will-change: background-color;
}
.primary {
  color: white;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
  }
}
.danger {
  color: white;
  background-color: var(--danger-color);

  &:hover {
    background-color: var(--danger-color-hover);
  }
}
