.tooltipWrapper {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.customTooltip {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.4;
  z-index: 100;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: var(--lite-shadow);
  pointer-events: none;

  max-width: 275px;
}

.eventName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
