.profileContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.profileContainer h1 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(18px, 5vw, 28px);
  line-height: 100%;
  color: var(--font-blue-color);
}

.profileWrapper {
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
}

.entityWrapper {
  min-width: 315px;
  height: fit-content;
  border-radius: 15px;
  border: solid 2px var(--light-border-color);
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  grid-gap: 30px;
  box-sizing: border-box;
}

.entityWrapper h2 {
  font-weight: 500;
  font-size: clamp(18px, 2vw, 20px);
}

.entityInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blockInfo h3 {
  font-weight: 500;
  font-size: clamp(16px, 1.8vw, 18px);
}

.blockInfo p {
  font-weight: 400;
  font-size: clamp(14px, 1.6vw, 16px);
}

.button {
  width: auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: clamp(14px, 1.6vw, 16px);
  transition: 0.3s ease-in-out;
}
.button:hover {
  background-color: var(--primary-hover-color);
}

.button.delete {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  background-color: var(--danger-color);
  border: none;
  border-radius: 8px;
  font-size: clamp(0.625rem, 1.8vw, 0.75rem);
}
.button.delete:hover {
  background-color: var(--danger-hover-color);
}

.tableBlock {
  border: solid 2px var(--light-border-color);
  width: 100%;
  border-radius: 15px;
  padding: 0;
  padding-top: 25px;
  box-sizing: border-box;
}

.tableBlockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--light-border-color);
  padding-bottom: 10px;
  padding: 0 20px 10px;
  margin-bottom: 15px;
}
.tableBlockHeader h2 {
  font-weight: 500;
  font-size: clamp(18px, 3vw, 20px);
}

.tableContainer {
  overflow: auto;
  max-height: 55vh;
  scrollbar-width: thin;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
}
.table tbody tr:nth-child(even) {
  background-color: var(--table-alternate-color);
}

.table td {
  text-align: center;
}

.table td:first-child {
  padding: 10px;
  padding-left: 20px;
  font-size: clamp(14px, 2.2vw, 16px);
  text-align: left;
}

.table tbody td:last-child {
  padding-right: 20px;
}

.table th {
  padding: 10px;
  font-weight: 400;
}

.notFound {
  padding: 0 20px 10px;
}
/* МОДАЛЬНЫЕ СТИЛИ */
.modalContentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.datePickerWrapper {
  width: 100%;
}

.modalInput,
.datePicker,
.modalSelect {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0.625rem;
  font-size: clamp(0.875rem, 2.2vw, 1rem);
  padding: 0.625rem 0.9375rem;
  background-color: #f1f2f6;
}
.modalSelect {
  padding-right: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/sellectArrow.png");
  background-repeat: no-repeat;
  background-position: right 0.9375rem center;
  background-size: 0.75rem;
  cursor: pointer;
}

.modalInput:focus,
.datePicker:focus {
  outline: #0069ff 1px solid;
}

.modalTitle {
  font-weight: 600;
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
  line-height: 150%;
  text-align: center;
  color: #0069ff;
}

.error {
  text-align: center;
  font-size: clamp(14px, 2.2vw, 16px);
  color: var(--danger-color);
}

@media (max-width: 1024px) {
  .profileContainer {
    align-items: center;
    margin-bottom: 40px;
  }
  .profileWrapper {
    flex-direction: column;
    width: 100%;
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .profileWrapper {
    min-width: 100%;
  }
  .tableBlockHeader {
    flex-wrap: wrap;
    grid-gap: 5px;
  }
  .tableBlockHeader .button {
    padding: 10px 15px;
  }
  .tableBlockHeader h2 {
    font-size: clamp(16px, 4vw, 18px);
  }
}
