@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  font-family: "Jost", sans-serif;
}

:root {
  --text-color: #000000;
  --text-secondary-color: #828282;

  --bg-color: #f0f2f5;
  --bg-element-color: #fff;

  --border-color: #f4f4f4;

  --primary-color: #0069ff;
  --hover-primary-color: #005cdd;

  --danger-color: #ff0000;
  --hover-danger-color: #e60000;

  --lite-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
